.item {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px 20px;

  .name {
    font-size: 22px;
    line-height: 26.4px;
  }
}