.view-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .list-body {
    flex: 1;
    padding: 10px 30px;

    .list-content {
      margin: auto;
      max-height: calc(100vh - 210px);
      max-width: var(--elements-max-widht);
      overflow: auto;
      width: 100%;
    }
  }
}