:root {
  --primary: #F22539;
  --black: #353535;
  --white: #FFFFFF;
  --light: #F9F9F9;
  --darkGray: #5E5E5E;
  --lightGray: #BFBFBF;
  --circleBackground: #F5F5F5;
  --grayBorder: #E8E8E8;

  --elements-max-widht: 570px;
}